*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: -0.5px;
}


body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    display: flex ;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 6rem;

}

.nav-links ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 2rem;
    list-style-type: none;

}

.white-logo{
    display: none;
}
.mobile-btn{
    display: flex;
}
.nav-links ul a{
    text-decoration: none;
    color: black;
    transition: all 0.5s;

}

.nav-links ul a:hover{
    color: #0582E8;
}

.nav-links ul a:active{
    color: #1463a3;
}
.nav-buttons{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.sign-in-btn{

    border: 0.1rem solid black;
    border-radius: 0.5rem;
    padding: 0.5rem 2rem ;
    cursor: pointer;
    transition: all 0.5s;
}

.sign-in-btn:hover{
    border: 0.1rem solid #0582E8;
    color: #0582E8;
}

.sign-in-btn:active{
    border: 0.1rem solid #1463a3;
    color: #1463a3; 
}
.sign-up-btn{
    border-radius: 0.5rem;
    padding: 0.5rem 2rem ;
    background-color: #0582E8;
    color: white;
    width: fit-content;
    height: auto;
    cursor: pointer;
    transition: all 0.5s;
}

.mobile-btn{
    display: none;
}

.sign-up-btn:hover{
    background-color: #0675cf;
    color: white;
}

.sign-up-btn:active{
    background-color: #1463a3;
}

.menu-icon{
    display: none;
}
.menu-open{
    width: 32px;
    height: 32px;
}

.menu-close{
    width: 32px;
    height: 32px;
}
.hero{
    display: flex;
    text-align: center;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    justify-content: center;
}

.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.hero-text h1{

    font-size: 3rem;
    width: 65%;
    margin-bottom: 0.5rem;
}

.hero-text p{
    font-size: 1.2rem;
}
.hero-btn{
    width: fit-content;
    height: auto;
}

.two-hero-btn{
    display: flex;
    column-gap: 1rem;
}
.four-cards{
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    margin-top: 1rem;
    background-color: #a7d7ff59;
    padding: 2rem;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 1px 20px rgba(187, 214, 255, 0.349);
}

.card-1{
    width: 250px;
    height: 300px;
    background-color: #0582E8;
    border-radius: 0.5rem;
}

.box-1{
    background-color: #9D9D9D;
}

.box-2{
    background-color: #9D9D9D;
}

.box-3{
    background-color: #9D9D9D;
}

.box-4{
    background-color: #9D9D9D;
}

.card-1 p span {
    background-color: white;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    position: relative;
    top: 250px;
    right: 50px;
    box-shadow: 2px 1px 20px rgba(0, 0, 0, 0.349);
}



/* --------media query for tablet screen---------- */

@media screen and (max-width : 1120px){
    header{
        width: 100%;
        height: auto;
        display: flex ;
        justify-content: space-evenly;
        align-items: center;
        margin: 3rem 2rem;
        column-gap: 0.4rem;
        padding: 0;
    
    }

    
    
    .logo-img{
       width: 120px;
       height: auto;
    }

    .nav-links ul{
        column-gap: 1rem;
    }

    .four-cards{
        flex-wrap: wrap;
        row-gap: 2rem;
        margin: 2rem 3rem;
    }
}

/* --------media query for mobile screen---------- */

@media screen and (max-width : 700px){

    header{
        display: flex ;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 1.5rem 2rem;;
        background-color:  #0582E8;
    
    }

    .logo-img{
        display: none;
    }

    .white-logo{
        display: block;
        width: 160px;
        height: auto;
    }

    .nav-links ul{
        flex-direction: column;
        position: absolute;
        top: 70;
        right: 0;
        left: 0;
        max-height: 0px;
        text-align: center;
        margin-top: 2.5rem;
        background-color: #045ba3;
        /* gap: 0; */

        overflow: hidden;

    }
    
    .nav-links ul li {
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .nav-links ul li a {
        color: white;
      
    }
    .nav-links ul a:hover{
        color: #4caeff;
    }

    .menu-icon{
       
        display: block;
        cursor: pointer;
    }

    .menu-close{
        display: none;
        cursor: pointer;
    }
    .four-cards{
        flex-wrap: wrap;
        row-gap: 2rem;
        margin: 2rem 3rem;
    }

    .hero-text h1{
        width: 80%;
        margin: 2rem 3rem;
        font-size: 2.5rem;
    }

    .hero-text p{
        margin-top: -1.5rem;
    }

    .sign-in-btn{
        display: none;
    }

    .sign-up-btn{
        display: none;
    }

    .hero-btn{
        display: block;
        margin-top: 1rem;
    }

    .reset-btn{
        display: block;
        margin-top: 1rem; 
    }

    /* .two-hero-btn{
        flex-direction: column;
    } */

    #menuList{
        transition: all 0.5s;
    }

    .mobile-sign-in{
        display: block;
        width: 250px;
        height: auto;
        color: white;
        border: 0.1rem solid white;

    }

    .mobile-sign-up{
        display: block;
        width: 250px;
        height: auto;
    }
.mobile-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 1rem;
    }



}